abody {
	background-color: #828282;
}

body {
	background-color: #FFFFFF;
}

.discomNav {
	background-color: #828282;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  color: #FFF;
  background-color: #6D6E70;
}

.purple {
	background-color: #37499F
}

.blue {
	background-color: #2C77BB
}

.aqua {
	background-color: #67C8CE
}

.gray {
  background-color: #6D6E70
}

