<br />
<div class="agent-view">
<ul class="courses">
	<li ng-repeat="agent in agents" class="agent-info">
		<!-- <div style="display:table"> -->
			<div class="agent-img">
				<img src="{{agent.imageUrl}}" alt="{{agent.name}}" style="width:72px;height:92px">
			</div>
			<div class="agent-contact">
				<b>{{agent.name}}</b>
				<p>Bus: &nbsp;{{agent.businessPhone}}</p>
				<p>Cell: &nbsp;{{agent.cellPhone}}</p>
				<p>Email: &nbsp;{{agent.email}}</p>
			</div>
		<!-- </div> -->
	</li>
</ul>
</div>
<!-- <div style="display:inline-block;float:right;">
<ul class="courses">
	<li ng-repeat="agent in agents" class="agent-info">
			<div class="agent-img">
				<img src="{{agent.imageUrl}}" alt="{{agent.name}}" style="width:72px;height:92px">
			</div>
			<div class="agent-contact">
				<b>{{agent.name}}</b>
				<p>Bus: &nbsp;{{agent.businessPhone}}</p>
				<p>Cell: &nbsp;{{agent.cellPhone}}</p>
				<p>Email: &nbsp;{{agent.email}}</p>
			</div>
	</li>
</ul>
</div> -->

