<h3>{{currentPage}}</h3>
<ul class="courses">
	<li ng-repeat="agent in agents" class="thumbnail">
		<div style="display:table">
			<div style="display:inline;float:left">
				<img src="{{agent.imageUrl}}" alt="{{agent.name}}" style="width:285px;height:101px">
			</div>
			<div style="display:inline;float:right">
				<b>{{agent.name}}</b>
				<p>Bus: &nbsp;{{agent.businessPhone}}</p>
				<p>Cell: &nbsp;{{agent.cellPhone}}</p>
				<p>Email: &nbsp;{{agent.email}}</p>
			</div>
		</div>
	</li>
</ul>