<div class="listing_search">
<center>
<!-- <IFRAME NAME="GK" SRC="http://webapps2.planetrealtor.com/idx/pkg_IDX.pr_IDXSearch?sStateID=FL&sRealtorID=272613&sUserType=F&sSearchStateID=FL&sSearchSource=X" frameborder=0 class="listing_search_frame" ></IFRAME> -->

<object data="http://webapps2.planetrealtor.com/idx/pkg_IDX.pr_IDXSearch?sStateID=FL&sRealtorID=272613&sUserType=F&sSearchStateID=FL&sSearchSource=X" class="listing_table_frame">
    <embed src="http://webapps2.planetrealtor.com/idx/pkg_IDX.pr_IDXSearch?sStateID=FL&sRealtorID=272613&sUserType=F&sSearchStateID=FL&sSearchSource=X" class="listing_table_frame"> </embed>
    Error: Embedded data could not be displayed.
</object>


</center>
</div>